body {
    height: 100vh;
    margin: 0;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    transition: 0.2s;
    opacity: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 1440px;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.themeToggle-button {
    border: none;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    align-items: center;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    opacity: 0.5;
}

.themeToggle-button:hover {
    opacity: 1;
}

.themeToggleDark:hover {
    background-color: #3D3D3D;
}

.themeToggleLight:hover {
    background-color: #c4c4c4;
}

header img {
    border-radius: 50%;
    width: 100px;
    transition: 0.2s;
    cursor: pointer;
}

header img:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

#searchField {
    width: 1440px;
    border: none;
    outline: none;
    height: 50px;
}

.indexContent {
    min-width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
    gap: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.indexContent::-webkit-scrollbar {
    width: 12px;
    border-radius: 15px;
    background-color: #1f1f1f;
}
    
.indexContent::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}
    
.indexContent::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #3d3d3d;
}

.indexContent::-webkit-scrollbar-thumb:hover {
    background-color: #141414;
    transition: 0.1s;
}

.articleContent {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleContent img {
    width: 100%;
    border-radius: 30px;
    margin: 30px 0 30px 0;
}

.articlePage-img {
    width: 100%;
}

.articleRow {
    display: flex;
    width: 1440px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.article {
    display: flex;
    padding: 25px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: 0.2s;
    cursor: pointer;
    min-width: 520px;
    border-radius: 30px;
}

.backWard-btn {
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
    background-color: #3D3D3D;
    opacity: 0.5;
}

.backWard-btn:hover {
    opacity: 1;
    transform: translateY(-10px);
}



a {
    color: white;
    text-decoration: none;
}

.articleUrl {
    display: inline-block;
    transition: 0.2s;
    text-decoration-color: white;
}

.articleUrl:hover {
    text-decoration: underline;
    transform: translateY(-2px);
}

.imgContainer {
    display: flex;
    width: 99%;
    height: 230px;
    background-image: url(img/post_1.png);
    background-size: cover;
    border-radius: 12px;
    background-repeat: no-repeat;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
}

.articleImg {
    width: 99%;
    height: 230px;
    border-radius: 12px;
}

.article:hover {
    transform: translateY(-15px);
}

.articleDark:hover {
    background-color: #3D3D3D;
}

.articleLight:hover {
    background-color: #c4c4c4;
}

h3 {
    max-width: 330px;
    white-space: nowrap; /* Запрет переноса строк */
    overflow: hidden; /* Скрытие текста, выходящего за пределы контейнера */
    text-overflow: ellipsis; /* Обрезание текста с троеточием */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

time {
    font-size: 24px;
    color: rgb(114, 114, 114);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.5;
}

h4 {
    font-size: 64px;
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px 0;
    font-weight: 700;
}

h5 {
    width: 100%;
    max-width: 100%;
    font-size: 32px;
    margin: 0 0 30px 0;
    font-weight: 600;
}

p {
    width: 100%;
    max-width: 100%;
    font-size: 24px;
    opacity: 0.9;
    margin: 0 0 30px 0;
    line-height: 1.3;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    background-color: #141414;
    position: relative;
    border-radius: 30px 30px 0 0;
    bottom: 0;
    width: 100%;
}

.footerHeader {
    font-size: 32px;
    padding-left: 8%;
    box-sizing: border-box;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1440px;
}

.socialLinks_container {
    display: flex;
    gap: 60px;
}

.socialLinks {
    display: flex;
    padding: 27px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    opacity: 0.5;
    transition: 0.2s;
    font-size: 32px;
    border-radius: 30px;
}

.socialLinks:hover {
    opacity: 1;
    transform: translateY(-15px);
}

.socialLinksLight:hover {
    background-color: #c4c4c4;
}

.socialLinksDark:hover {
    background-color: #3D3D3D;
}

@media (max-width: 1440px) {
    .footerContainer {
        width: 100vw;
    }

    .articleContent {
        width: 95vw;
        max-width: 95vw;
    }

    .articleRow {
        width: 100vw;
    }

    header {
        width: 100vw;
        max-width: 100vw;
    }

    .articlePage-img {
        width: 100vw;
        max-width: 100vw;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
    }

    p {
        width: 95vw;
        max-width: 95vw;
    }

    .backWard-btn {
        width: 95vw;
        max-width: 95vw;
    }
}

@media (max-width: 1099px) {
    header {
        width: 100vw;
        max-width: 100vw;
    }

    .articlePage-img {
        width: 100vw;
        max-width: 100vw;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
    }

    p {
        width: 95vw;
        max-width: 95vw;
    }

    .backWard-btn {
        width: 95vw;
        max-width: 95vw;
    }
    
    .footerContainer {
        width: 100vw;
    }

    .articleRow {
        width: 100vw;
    }
}

@media (max-width: 752px) {
    header {
        width: 100vw;
        max-width: 100vw;
    }

    .articlePage-img {
        width: 100vw;
        max-width: 100vw;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
    }

    p {
        width: 95vw;
        max-width: 95vw;
    }

    .backWard-btn {
        width: 95vw;
        max-width: 95vw;
    }
    
    .footerContainer {
        width: 100vw;
    }

    .articleRow {
        width: 100vw;
        max-width: 100vw;
    }
    
    .socialLinks_container {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 520px) {
    .article {
        min-width: 100%;
        width: 100%;
    }

    .articleImg {
        height: auto;
        aspect-ratio: 16/9;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
        font-size: 44px;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
        font-size: 24px;
    }

    p {
        width: 95vw;
        max-width: 95vw;
        font-size: 22px
    }
}

@media (max-width: 475px) {
    header {
        width: 100vw;
        max-width: 100vw;
    }

    .themeToggle-button {
        width: 60px;
        height: 60px;
    }

    .articlePage-img {
        width: 100vw;
        max-width: 100vw;
    }

    h2 {
        display: none;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
        font-size: 32px;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
    }

    p {
        width: 95vw;
        max-width: 95vw;
    }

    .backWard-btn {
        width: 95vw;
        max-width: 95vw;
    }
    
    .footerContainer {
        width: 100vw;
    }

    .articleRow {
        width: 100vw;
    }
    
    .socialLinks_container {
        flex-direction: column;
        gap: 30px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    header {
        width: 100vw;
        max-width: 100vw;
    }

    .articlePage-img {
        width: 100vw;
        max-width: 100vw;
    }

    h4 {
        width: 95vw;
        max-width: 95vw;
    }
    
    h5 {
        width: 95vw;
        max-width: 95vw;
    }

    p {
        width: 95vw;
        max-width: 95vw;
    }

    .backWard-btn {
        width: 95vw;
        max-width: 95vw;
    }
    
    .footerContainer {
        width: 100vw;
    }

    .articleRow {
        width: 100vw;
    }
    
    .socialLinks_container {
        flex-direction: column;
        gap: 30px;
    }
}